<% unless @goals.empty? %>
<h1>Today's Goals</h1>

<% for goal in @goals_incomplete %>
<ul>
	<li><%= goal.title %></li>
</ul>
<% end %>

<%= render 'form' %>

	<% else %>

<h1>Today's goals</h1>

<%= form_for @goal do |f| %>

<fieldset>
	<%= f.text_field :title, :placeholder => "Start typing to enter your first goal, then hit enter" %>
</fieldset>	

<% end %>

<% end %>