<h1>How did you do yesterday?</h1>

<%= form_tag complete_goals_path, :method => :put do %>

<% for goal in @goals %>
<ul>
	<li><%= check_box_tag "goal_ids[]", goal.id %> <%= goal.title %></li>
</ul>
<% end %>

<%= submit_tag %>

<% end %>