<% unless @goals.empty? %>
<div class="grid__col grid__col--3-of-5 grid__col--centered">
<h1 class="today">Today's Goals</h1>

<% for goal in @goals_incomplete %>
<ul>
	<li><%= goal.title %></li>
</ul>
<% end %>

<%= render 'form' %>

</div>

	<% else %>

<h1 class="today grid__col grid__col--3-of-5 grid__col--centered">Today's goals</h1>

<%= form_for @goal, html: {:class => "grid__col grid__col--3-of-5 grid__col--centered"} do |f| %>

<fieldset>
	<%= f.text_field :title, :placeholder => "Enter your first goal, then hit enter…" %>
</fieldset>	

<% end %>

<% end %>