<h1>Yesterday's Goals</h1>

<% for goal in @goals_incomplete %>
<ul>
	<li><%= goal.title %></li>
</ul>
<% end %>

<h1>Today's Goals</h1>
<%= form_for @goal do |f| %>
<fieldset>
	<%= f.text_field :title, :placeholder => "Now, how about your first goal for today?" %>
</fieldset>	
<% end %>

<% for goal in @goals_today %>
<ul>
	<li><%= goal.title %></li>
</ul>
<% end %>