/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea:focus, input:focus{
    outline: 0;
}

body {
	background-color: #fdf6e1;
	font-family: "futura-pt", sans-serif;
	font-size: 16px;
	color: #ffffff;
	line-height: 1.3em;
}

.welcome {
	color: #f57551;
	text-align: center;
}
	.welcome p {
		padding-bottom: 75px;
	}

.container {
	max-width: 760px;
	margin: 0 auto;
}

a:link {
	transition: 1s ease;
}

.header {
	margin-bottom: 75px;
	padding: 10px 0;
}

h1.header-red, h1.header-green {
	font-size: 28px;
	color: #f57551;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 600;
	line-height: 28px;
}
	h1.header-green {
		color: #83cc9d;
	}

ul.header-nav {
	float: right;
	padding-top: 2%;
	font-weight: 600;
}

.header-nav li {
	padding: 0 !important;
	background-color: transparent !important;
	width: auto;
	display: inline;
	border: none;
	position: static;
	text-align: right;
}
	.header-nav li:last-child {
		margin-left: 15px;
	}
	.header-nav, .header-nav a:link, .header-nav a:visited {
		color: #ffffff;
		text-decoration: none;
	}
	.header-nav a:hover { color: #ffec5c }
	.header-nav li:hover { border: none; }

li {
	padding: 15px;
	background-color: #f57551;
	width: 250px;
	margin: 0 auto;
	margin-bottom: 2px;
	border: 1px solid #de512a;
	text-transform: uppercase;
	font-size: 90%;
	position: relative;
}
	li:hover {
		background-color: #eb5f38;
		border: 1px solid #d51b1f;
	}
	li:hover input[type=checkbox] + label { display: block; }
	.goals-index li:hover {
		background-color: #f57551;
	}
	.rollover {
		background-color: #fc4044;
	}
	.rollover:hover {
		background-color: #fc4044;
	}

.rollover-goal {
	color: #d51b1f;
	font-size: 10px;
	font-style: italic;
	margin-top: -5px;
	display: block;
}

.finished { 
	border: 2px solid #ffffff;
	background-color: #f72a38;
	text-transform: uppercase;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: #ffffff;
	padding: 10px;
	font-size: 15px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center; }
.finished:link, .finished:visited { text-decoration: none; color: #ffffff }
.finished:hover { background-color: #f57651; }

.button {
	border: 2px solid #ffffff;
	background-color: #f72a38;
	text-transform: uppercase;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	color: #ffffff;
	padding: 10px;
	margin: 20px 0;
	font-size: 15px;
	display: inline-block;
	width: 180px;
	text-decoration: none;
}
	.button a:link, .button a:visited {
		text-decoration: none;
		color: #ffffff;
	}
	.button:hover {
		background-color: #f57651;
	}

.completed {
	background-color: #d1f6c9;
	border: none;
	padding: 10px;
	color: #83cc9d;
	margin-bottom: 2px;
}
	.completed:last-child {
		margin-bottom: 75px;
	}
	.completed:hover {
		background-color: #d1f6c9 !important;
		border: none;
	}

form#new_goal {
	margin: 35px 0;
	width: 282px;
	margin: 0 auto;
	padding-left: 0;
}

input {
	background-color: #f8f0d9;
	border: 2px dashed #d0c49e;
	padding: 15px;
	width: 248px;
	margin-top: 10px;
	text-transform: uppercase;
}
	input#goal_ids_ {
		width: 12px;
		margin-top: 0;
	}
	input.form_submit {
		margin: 0 auto;
		display: block;
		margin-top: 20px;
		cursor: pointer;
		text-transform: uppercase;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		padding: 10px;
		font-size: 15px;
		width: 150px;
		border: 2px solid #d0c49e;
		color: #d0c49e;
	}
	input[type=checkbox] {
		display:none;
	}
	input[type=checkbox] + label{
		display:inline-block;
		margin:-2px;
		padding: 4px 12px;
		color: #20a266;
		text-align: center;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		vertical-align: middle;
		cursor: pointer;
		background-color: #aff99e;
		float: right;
		display: none;
	}
	input[type=checkbox]:checked + label {
		outline: 0;
		background-color:#97d988;
		display: block;
	}
	input[type=checkbox]:checked > li {
		background-color: #eb5f38;
		border: 1px solid #d51b1f;
	}
	input#form_submit:hover {
		cursor: pointer;
	}

::-webkit-input-placeholder {
	color:  #d0c49e;
	font-style: italic;
}

:-moz-placeholder {
	color:  #d0c49e;
	font-style: italic;
}

::-moz-placeholder {
	color:  #d0c49e;
	font-style: italic;
}

:-ms-input-placeholder {  
	color:  #d0c49e;
	font-style: italic;
}

.working-out-logo {
	background: url(logo.png) no-repeat 50% 100%;
	height: 300px;
	padding-top: 175px;
}

.footer-container {
	background: -webkit-linear-gradient(#f57651, #f93c4d);
	background: -o-linear-gradient(#f57651, #f93c4d);
	background: -moz-linear-gradient(#f57651, #f93c4d);
	background: linear-gradient(#f57651, #f93c4d);
}

footer {
	color: #ffffff;
	text-align: center;
	padding: 35px 0;
	font-size: 18px;
}
	footer a:link, footer a:visited {
		color: #ffffff;
	}
	footer a:hover {
		color: #f0da56;
	}
	footer p {
		width: 80%;
		margin: 0 auto;
		line-height: 28px;
	}

.delete {
	position: absolute;
	right: -30px;
	bottom: 35%;
}

.check-off {
	background-color: #f8f0d9;
	border: 1px solid #d0c49e;
	padding: 10px;
	text-align: center;
	margin-bottom: 35px;
	color: #d0c49e;
}
	.check-off a:link, .check-off a:visited {
		color: #f57551 ;
	}
	.check-off a:link:first-child {
		margin-right: 10px;
	}
	.check-off a:hover {
		color: #f72a38;
	}

.empty {
	color: #d0c49e;
	text-align: center;
	margin-bottom: 25px;
}