/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea:focus, input:focus{
    outline: 0;
}

body {
	background-color: #fdf6e1;
	font-family: "futura-pt", sans-serif;
	font-size: 15px;
	color: #ffffff;
	line-height: 1.3em;
	margin-top: 75px;
}

h1.today, h1.yesterday {
	font-size: 28px;
	color: #f57551;
	text-align: center;
	margin-bottom: 25px;
}
	h1.yesterday {
		color: #83cc9d;
	}

form#new_goal {
	margin: 35px 0;
	width: 282px;
	margin: 0 auto;
	padding-left: 0;
}

input {
	background-color: #f8f8f8;
	border: 2px dashed #d0c49e;
	padding: 15px;
	width: 250px;
	margin-top: 10px;
}

li {
	padding: 15px;
	background-color: #f57551;
	width: 250px;
	margin: 0 auto;
	margin-bottom: 2px;
	border: 1px solid #de512a;
}

::-webkit-input-placeholder {
   color:  #d0c49e;
}

:-moz-placeholder {
   color:  #d0c49e;  
}

::-moz-placeholder {
   color:  #d0c49e;  
}

:-ms-input-placeholder {  
   color:  #d0c49e;  
}

.working-out-logo {
	background: url(logo@2x.png) no-repeat 50% 100%;
	height: 220px;
	padding-top: 175px;
}

.container {
	width: 760px;
	margin: 0 auto;
}

.footer-container {
	background: -webkit-linear-gradient(#f57651, #f93c4d);
	background: -o-linear-gradient(#f57651, #f93c4d);
	background: -moz-linear-gradient(#f57651, #f93c4d);
	background: linear-gradient(#f57651, #f93c4d);
}

footer {
	color: #ffffff;
	text-align: center;
	padding: 35px 0;
}
	footer a:link, footer a:visited {
		color: #ffffff;
	}

.button {
	border: 2px solid #ffffff;
	background-color: #f72a38;
	text-transform: uppercase;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: #ffffff;
	padding: 10px;
	margin: 20px 0;
	display: inline-block;
}