<!DOCTYPE html>
<html>
<head>
  <title>AccountabilityApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="grid">

<%= yield %>

	</div>
</div>

<div class="working-out-logo">
</div>
<div class="footer-container">
	<div class="container">
	<div class="grid">

<footer class="grid__col grid__col--12-of-12">
	<p>Join <a href="http://twitter.com/iamashley">Ashley Baxter</a> and <a href="http://twitter.com/paddydonnelly">Paddy Donnelly</a> on a journey to figure out how to create a business doing what you love.</p>
	<span class="button">Listen to the podcast</span>
</footer>
	
	</div>
	</div>
</div>

</body>
</html>
